<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="style.css">

    <title>Postage Calculator</title>
</head>

<body>
    <div class="page">
        <div class="main">
            <div class="flexContainer">
                <div class="infoBox">
                    <div style="text-align: center; font-size: 30px; font-weight: bold">Postage Calculator Results</div>
                    <div class="form">
                        <p>The price for a <%= type %> that weighs <%= weight %>oz is $<%= price %></p>

                        <button><a href="/">Back to Calculator</a></button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>